.idea
*.iml
.gradle
.sass-cache/
*.log
.DS_Store
build/
classes/
out/
node_modules/
*.iws
*.ipr
*.ids

# ruby-related [license_finder]
/.bundle/
/vendor/bundle/
*.xml
/venv/

*secrets.yml
.cf

.pactFocus
/components/emails-v2/dist/

.classpath
.project
.settings/
**/bin/
services/incar/pkg
services/incar/bin
services/incar/src/incar/generated
services/email-sender/src/main/resources/public/templates/emails-v2/
scripts/nohup.out

services/consent/target
generated_licenses
.terraform
.terraform.lock.hcl
